.container {
    max-width: 100%;
    padding: 20px;
}

.h1-primary {
    text-align: start;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.row {
    display: flex;
    overflow-x: auto;
    gap: 4px;
    padding-bottom: 4px;
    scroll-snap-type: x mandatory;
}

.row::-webkit-scrollbar {
    display: none;
}

.row {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.row img {
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    scroll-snap-align: start;
}

.scroll-left {
    flex-direction: row-reverse;
    margin-left: 0vh;
}

.scroll-left img {
    scroll-snap-align: end;
}

@media (min-width: 768px) {
    .container {
        padding: 40px;
    }

    h1 {
        
    }

    .scroll-left {
        flex-direction: row-reverse;
        margin-left: 10vh;
    }
}








.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}



.portfolio-grid { /* Cambiado a portfolio-grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajuste automático en móviles */
    gap: 26px; /* Espacio entre las imágenes */
}

.grid-item {
    text-align: start; /* Centrar el texto */
    background-color: rgba(0, 0, 0, 0.05);
    padding: 15px;
    border-radius: 10px;
}

.grid-item h3{
    margin-top: 5px;
    margin-bottom: 5px;

}

.grid-item img {
    width: 100%; /* Hacer que las imágenes ocupen todo el ancho del contenedor */
    height: auto; /* Mantener la proporción de las imágenes */
    border-radius: 8px; /* Bordes redondeados */
}


.grid-item:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;        transform: translateY(-15px) rotate(0deg) !important;

}


.container{
    height: 100%;
    min-height: 100vh;

}

.content-page{
    min-height: 100vh;
}

p{
    font-size: 20px;
    text-align: justify;
}

.row{
    display: flex;
    
}