@import url('https://fonts.googleapis.com/css2?family=Allura&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* main div {
    transition: 0.25s;
} */

h1, h2, h3, p{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

hr{
    opacity: .1;
}
nav {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    padding-right: 3vh;
}

nav .primary-logo {
    margin: 40px;
}

.nav-hr{
    display: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    height: 1px;
    background-color: black;
    border: none;

  
}

nav{
    background: black;
}

nav ul {
    list-style: none;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
    display: grid;
    align-items: center;
}

nav ul li a {

    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: color 0.3s;
    transition: all 0.5s;
    text-decoration: none;
    position: relative;
}



a {
    text-decoration: none;
    /* color: orange; */
    font-weight: bold;
    transition: color 0.3s;
    transition: all 0.5s;
    text-decoration: none;
    position: relative; 
}

.a-before:hover:before {
    width: 100%;
}

.content-a{
    position: relative;
}

/* Footer styles */
footer {
    background-color: #e9c99a;
    color: black;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}

/* Scroll bar style */
.scroll-box::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scroll-box::-webkit-scrollbar:vertical {
    width:3px;
}

.scroll-box::-webkit-scrollbar-button:increment,.scroll-box::-webkit-scrollbar-button {
    display: none;
} 

.scroll-box::-webkit-scrollbar:horizontal {
    height: 10px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background-color: black;
    /* border-radius: 100px; */
    border: 2px solid transparent;
}

.scroll-box::-webkit-scrollbar-track {
    /* border-radius: 3px;   */
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:3px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 3px;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    /* border-radius: 100px; */
    border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
    /* border-radius: 10px;   */
}

/* Mobile first */
body {
    font-size: 16px;
    margin: 0;
}

.arrow-menu{
    opacity: 0;
}

.arrow-menu{
    position: absolute;
    top: 10%;
    right: 8%;
    transform: rotateZ(-20deg);
    pointer-events: none;
}

.primary-text-container{
    color: wheat;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
    margin-left: 15px;
    padding-top: 8rem;padding-top: 8rem;
}

.primary-text-container p{
    margin-top: 20px;
    margin-right: 10px;
    color: #a3a3a3;
    /* width:50%; */
    font-weight: 300;
}


.content-page{
    min-height: 100vh;
    position: relative;
    height: auto;
    bottom: 0;
    /* background: white; */
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    place-items: center;
}



@media (max-width: 768px) {
  
}

.menu-mobile {
    display: block;
    width: 50px;
}

.menu-mobile-ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    display: grid;
    grid-auto-flow: row;
    justify-items: start;
    padding: 20px;
    box-sizing: border-box;
    justify-content: start;
    align-items: end;
    font-size: 23px;
    display: none;
}

.menu-mobile-ul li {
    list-style: none;
    margin-bottom: 10px;
}

.menu-mobile-ul a {
    color: white;
    text-decoration: none;
}

.menu-pc {
    display: none;
    padding: 3rem;
}

.menu-mobile-ul li:first-child{
    margin-bottom: 0;
}

.menu-mobile-ul li{
    margin: 0;
    margin-bottom: 5px;
    width: 100%;
    padding: 15px;
    background-color: black;
    color: white;
}
    
.menu-mobile-ul li:hover{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;

}

.social-icon-item{
    color: white;
    transition: 0.25s;
    margin-left: 5px;
    margin-right: 5px;
    /* transform: translateX(10); */
}
.social-icon-item:hover{
    transition: 0.25s;

/* color: red; */
transform: translateY(-7px);
}






.content-page .first-content {
    margin-top: 45px;
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;
    width: 90%;
    height: 50%;
    max-width: 800px;
}

.elemento {
    position: absolute;

}

.content-page .first-content .back-img{
    /* background: blue; */
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        /* border: 1px solid black; */
        background-image: url(./../images/galery/DSC_3668.jpg);
        background-size: cover; 
        object-fit: cover;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      

}
.content-page .first-content .sachastinesphotography-text{
    /* background: green; */
        z-index: 301;
        /* top: 40%; */
        /* left: 40%; */
        text-shadow: 2px 2px 5px black;

        bottom: -25vh;
        color: white;
        max-width: 350px;
        text-align: center;
        font-size: 50px;

        
}
.content-page .first-content .front-img{
    /* background: red; */
    background-image: url(./../images/galery/DSC_6179.jpg);
    /* background-size: cover;  */
    /* object-fit: cover; */
    z-index: 300;
    top: 140px;
    right:-25px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    
    
    /* border: 1px solid black; */



}






.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    max-width: 64rem;
    padding: 2rem;
    width: 100%;
    margin-top: 55vh;
}
.grid-item {
    /* border: 1px solid rgba(0, 0, 0,1); */
    /* border-radius: 0.5rem; */
    transition: all 0.3s ease;
}
.grid-item:hover {
    transform: scale(1.05) rotate(0deg) !important;
}
.item1 {
    height: 450px;
    transform: rotate(-2deg);
    background-size: cover; 
    object-fit: cover;
    background-image: url(./../images/galery/DSC_2290.jpg);
    background-position: center;
}
.item2 {
    height: 250px;
    transform: rotate(3deg);
    margin-top: 4rem;
    background-size: cover; 
    object-fit: cover;
    background-image: url(./../images/galery/DSC_4115-2.jpg);
    background-position: center;
}
.item3 {
    height: 300px;
    transform: rotate(-1deg);
    margin-top: 2rem;
    background-size: cover; 
    object-fit: cover;
    background-image: url(./../images/galery/DSC_7715.jpg);
    background-position: center;
}
.item4 {
    height: 350px;
    transform: rotate(2deg);
    margin-top: 4rem;
    background-size: cover; 
    object-fit: cover;
    background-image: url(./../images/galery/DSC_4132.jpg);
    background-position: center;
}



footer {
    background-color: black;

    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}


.footer {
    background-color: black;
    color: white;
    padding: 48px 32px;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.footer-column {
    width: 22%;
    margin-bottom: 32px;
    text-align: start;
}
.footer-column h2 {
    font-size: 16px;
    margin-bottom: 16px;
}
.footer-column ul {
    list-style-type: none;
    padding: 0;
}
.footer-column ul li {
    margin-bottom: 8px;
}
.footer-column a {
    color: white;
    text-decoration: none;
}
.footer-logo-social {
    
    width: 22%;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    border-left: 1px solid rgb(255 255 255 / 20%);
    padding-left: 32px; 
}
.footer-logo {
max-width: 150px;
margin-bottom: 24px;
border-radius: 100px;

}
.social-icons {
    gap: 16px;
}
.social-icons a {
    color: white;
}
.footer-bottom {
    margin-top: 32px;
    padding-top: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 12px;
}
.footer-links {
    margin-top: 8px;
}
.footer-links a {
    color: #4A3425;
    text-decoration: none;
    margin: 0 8px;
}
.footer-links a:hover {
    text-decoration: underline;
}



.content-img {
    display: grid;
    width: 100%;
    justify-content: end;
}


.grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}

.grid img{
    max-width: 100%;
}


.w-100{
    max-width: 100%;
}
.grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.grid2 img{
    width: 100%;
}


@media (max-width: 768px) {
    .footer-column, .footer-logo-social {
        width: 100%;
        border-left: none;
        padding-left: 0;
        align-items: center;
    }

}

/* Tablet */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }


    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .item4 {

        margin-top: -4rem;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
     
    .menu-mobile {
        display: none;
    }

    .menu-pc {
        display: grid;
        grid-auto-flow: column;
    }

    .recipe-content {
        padding: 5rem;
    }



    .content-page .first-content {
        margin-top: 45px;
        display: grid;
        place-items: center;
        position: relative;
        width: 90%;
        height: 50%;
    }

    .elemento {
        position: absolute;

    }

    .content-page .first-content .back-img{
            z-index: 100;
            top: 0;
            left: 0;
            width: 40vh;
            height: 50vh;
            /* border: 1px solid black; */
            background-image: url(./../images/galery/DSC_3668.jpg);
            background-size: cover; 
            object-fit: cover;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          

    }
    .content-page .first-content .sachastinesphotography-text{
            z-index: 301; 
            /* top: 40%; */
            /* left: 40%; */
            text-shadow: none;
            color: black;
            bottom: -15vh;
            max-width: 350px;
            text-align: center;
            font-size: 50px;
            
    }
    .content-page .first-content .front-img{
        background-image: url(./../images/galery/DSC_6179.jpg);
        background-size: cover; 
        object-fit: cover;
        z-index: 300;
        top: 50px;
        right:0px;
        width: 35vh;
        height: 35vh;
        transform: scale(1) rotate(-15deg);
        background-size: contain; 
        background-position: center;
        background-repeat: no-repeat; 
        
        /* border: 1px solid black; */



    }
}

/* Laptop */
@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }


    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .item4 {

        margin-top: -4rem;
    }
    .arrow-menu {
        opacity: 1;
    }

    .arrow-menu {
        position: absolute;
        top: 10%;
        right: 8%;
        transform: rotateZ(-20deg);
        pointer-events: none;
    }

    .primary-text-container {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        margin-left: 30px;
    }

    .primary-text-container h1 {
        font-weight: 400;
    }

    .primary-text-container p {
        margin-top: 20px;
        color: #a3a3a3;
        width: 50%;
        font-weight: 300;
        color: white;

    }


    


    .menu-mobile {
        display: none;
    }

    .menu-pc {
        display: grid;
        grid-auto-flow: column;
    }

    .recipe-content {
        padding: 5rem;
    }


    .content-page .first-content {
        margin-top: 45px;
        display: grid;
        place-items: center;
        position: relative;
        width: 66%;
        height: 50%;
    }


    .elemento {
        position: absolute;

    }

    .content-page .first-content .back-img{
            z-index: 100;
            top: 0;
            left: 0;
            width: 40vh;
            height: 50vh;
            /* border: 1px solid black; */
            background-image: url(./../images/galery/DSC_3668.jpg);
            background-size: cover; 
            object-fit: cover;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          

    }
    .content-page .first-content .sachastinesphotography-text{
            z-index: 301;
            /* top: 40%; */
            /* left: 40%; */
            color: black;
            text-shadow: none;

            bottom: -15vh;
            max-width: 350px;
            text-align: center;
            font-size: 50px;
            
    }
    .content-page .first-content .front-img{
        background-image: url(./../images/galery/DSC_6179.jpg);
        /* background-size: cover;  */
        /* object-fit: cover; */
        z-index: 300; 
        top: 50px;
        right:0px;
        background-size: contain; 
        background-position: center;
        background-repeat: no-repeat; 
        
        /* width: 35vh; */
        /* height: 35vh; */
        /* transform: scale(.5) rotate(-15deg); */
        /* border: 1px solid black; */



    }
}

/* Large desktop */
@media (min-width: 1440px) {
    
    body {
        font-size: 22px;
    }


    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .item4 {

        margin-top: -4rem;
    }

    .arrow-menu {
        opacity: 1;
    }

    .arrow-menu {
        position: absolute;
        top: 10%;
        right: 8%;
        transform: rotateZ(-20deg);
        pointer-events: none;
    }

    .primary-text-container {
        color: wheat;
        margin-left: 30px;
    }

    .primary-text-container h1 {
        font-weight: 400;
    }

    .primary-text-container p {
        margin-top: 20px;
        /* color: #a3a3a3; */
        width: 50%;
        font-weight: 300;
    }

    .menu-mobile {
        display: none;
    }

    .elemento {
        position: absolute;

    }

    .content-page .first-content .back-img{
            z-index: 100;
            top: 0;
            left: 0;
            width: 40vh;
            height: 50vh;
            /* border: 1px solid black; */
            background-image: url(./../images/galery/DSC_3668.jpg);
            background-size: cover; 
            object-fit: cover;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            
            
        }


    .content-page .first-content .sachastinesphotography-text{
        /* background: green; */
            z-index: 301;
            /* top: 40%; */
            text-shadow: none;
            /* left: 40%; */
            bottom: -15vh;
            color: black;

            max-width: 350px;
            text-align: center;
            font-size: 50px;
            
    }
    .content-page .first-content .front-img{
        /* background: red; */
        background-image: url(./../images/galery/DSC_6179.jpg);
        /* background-size: cover;  */
        /* object-fit: cover; */
        z-index: 300;
        top: 50px;
        right:0px;
        background-size: contain; 
        background-position: center; 
        background-repeat: no-repeat; 
        
        /* border: 1px solid black; */



    }

    

}



@media (min-width: 1440px) {

    .content-page .first-content {

        max-width: 50%;
            
    }
}



























  